In [1]:
import sqlite3 as lite
import pandas as pd
import os

# path to db

In [2]:
db_path = os.path.join(os.getcwd(), 'crawler_app', 'crawler_app', 'db', 'crawler.sqlite')

# code to get all table names

In [3]:
def get_table_names(database):
    ''' print out all the table names in an SQLite db'''
    conn = lite.connect(database)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print(cursor.fetchall())
    conn.close()
get_table_names(db_path)

[('Account',)]

In [4]:
def execute_statement(query, database):
    """ Execute a query and return results as dataframe. 
        ARGS: SQL statement, database path
        RETURN: dataframe with results
    """
    conn = lite.connect(database)
    result = pd.read_sql_query(query, conn)
    conn.close()
    return result

In [5]:
query = \
"""
SELECT * FROM Account
"""
execute_statement(query, db_path)

,id,username,password_hash,created
0,a4d8108787554632b3c08d73e48625cd,cas,$6$rounds=150000$X2QEpECeVinIJJ.B$HnwiJP0jaFPV...,2018-01-29 11:35:40.761275
1,b46fb52c41fa478cbd7a75285e5bd1e5,test,$6$rounds=150000$i2QVyJ9ybMKNJBCS$Nd1JDkY48/kp...,2018-02-05 13:58:42.948834
2,36a434eb5c674c2eb8b7fd06a255d555,new,$6$rounds=150000$V4XrawguhaMZ/iuD$Dm0BKvzEPu02...,2018-02-05 14:19:42.288817